version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: my-postgres
    environment:
      POSTGRES_USER: viora
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: viora_pluse_v1
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
